*.${DOMAIN_NAME} {
	tls {
		dns cloudflare ${CLOUDFLARE_KEY}
	}
}

http://wordpress.${DOMAIN_NAME} {
	redirect https://wordpress.${DOMAIN_NAME}{uri} permanent
}

wordpress.${DOMAIN_NAME} {
	reverse_proxy wordpress:80 {
		header_up X-Forwarded-Proto {scheme}
	}
}

http://phpmyadmin.${DOMAIN_NAME} {
	redirect https://phpmyadmin.${DOMAIN_NAME}{uri} permanent
}

phpmyadmin.${DOMAIN_NAME} {
	reverse_proxy phpmyadmin:80
}