*.${DOMAIN_NAME} {
	tls {
		dns cloudflare ${CLOUDFLARE_KEY}
	}
}

wordpress.${DOMAIN_NAME} {
	root * /var/www/html
	php_fastcgi wordpress:9000
	file_server
}

phpmyadmin.${DOMAIN_NAME} {
	reverse_proxy phpmyadmin:80
}